/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ea580c;  /* Scroll thumb color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ea580c;
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ffd59e #f1f1f1;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  html, body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
  
  .line-clamp-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }